
body {
    background-color: white;
    text-align: center;
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 62.5%;
    text-shadow: 2px 2px 2px #B2B2B2;
}

.greeting{
    color: #800000;
    font-size: 5rem;
    margin-top: 25px;
}

.question {
    color: #004747;
    font-size: 4rem;
}

.icons {
    font-size: 5rem; 
}

.smile {
    color: #FF9900;
    text-shadow: 2px 2px 2px #B2B2B2;
}

.meh {
    color: #008F6B;
    text-shadow: 2px 2px 2px #B2B2B2;
}

.frown {
    color: #FF0000;
    text-shadow: 2px 2px 2px #B2B2B2;
}


.spinsmile {
transform: rotate(0deg);
transition: 1.3s;
}

.spinsmile:hover {
transform: rotate(-360deg);
transition: 1.3s;
}



.fadefrown {
opacity: 1;
transition: opacity 1s ease-in-out;
}

.fadefrown:hover {
opacity: .01;
}


@media screen and (min-width: 800px) {

    body {
        font-size: 62.5%;
    }

    .greeting{
        font-size: 8rem;
    }

    .question {
        font-size: 7rem;
    }

    .icons {
        font-size: 8rem; 
    }
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce:hover {
  animation-name: bounce;
  transform-origin: center bottom;
}